*{
margin:0;
padding:0;

}

li{
text-decoration: none;

}


a{
	text-decoration: none;
}
.logo{
	background-color:black;
	width:100%;
display: flex;
justify-content: center;
}
.graficLogo{

padding: 1px;
max-width: 100%;
box-sizing: border-box;
}

nav{
	margin:auto;
    display: flex;
    justify-content: center;
 

}
.topnav{
	background-color: white;
	font-size: 14px;
	margin-top: 40px;
}
.topnav a {
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	padding: 14px 16px;	
	color: black;
}

.topnav a:hover{
	background-color: white;
	border-bottom: 2px solid black;
}
.advantages{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    width: 70%;
	text-align: center;
	
}
.advantages_items{
width: 30%;

}
@media screen and (max-width: 768px){

.topnav a:not(:first-child){
	display: none;
}

.topnav a.icon{
	float: right;
margin-top: -17px;
display: block;
color: black;
}
nav{

	width: 100%;
	height: 100px;	
}
.topnav .responsive{
	position: relative;
}

.topnav .responsive a.icon{
	position: absolute;
	right: 0;
	top: 0;
}
.topnav .responsive a {
	float: none;
	display: block;
}
.advantages_items{
	width: 45%;
}
}

.mw-100{
max-width:100%;

}
.advantages__container{
display: flex;
justify-content: center;
}




@media screen and (max-width: 420px){
 .advantages{
 	flex-direction: column;
 }
}